.squad-page {
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
}
.squad-page .header-squad {
  max-width: 100%;
  max-height: 500px;
  position: relative;
}
.squad-page .page-title {
  position: relative;
  text-align: center;
  font-size: 80px;
  font-weight: 700;
  margin-top: -300px;
  margin-bottom: 70px;
  color: white;
}
.squad-page .squad-container {
  background-color: white;
  position: relative;
  margin-left: 250px;
  margin-right: 250px;
}
.squad-page .squad-container p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
}
.squad-page .circle-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 50px;
}
.squad-page .circle-buttons .circle-button-1 {
  display: flex;
  flex-direction: column;
}
.squad-page .circle-buttons .heading-btn-1 {
  margin-top: -100px;
  font-weight: 700;
}
.squad-page .circle-buttons .heading-btn-2 {
  margin-top: -100px;
  font-weight: 700;
}
.squad-page .circle-buttons .circle-button-2 {
  display: flex;
  flex-direction: column;
}
.squad-page .opp-squad {
  max-width: 100%;
  align-items: center;
}
.squad-page .opp-squad .opp-title {
  font-size: 30px;
  font-weight: 600;
}
.squad-page .opp-squad .opp-elements {
  max-width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}
.squad-page .opp-squad .opp-elements .opp-img {
  max-width: 420px;
  box-shadow: -5px -5px 10px 5px rgba(44, 44, 44, 0.5);
}

@media (max-width: 480px) {
  .squad-page {
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 140px;
  }
  .squad-page .header-squad {
    display: none;
    position: relative;
    max-width: 100%;
  }
  .squad-page .page-title {
    position: relative;
    color: black;
    font-size: 40px;
    margin-top: -100px;
    margin-bottom: 30px;
  }
  .squad-page .squad-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -10px;
  }
  .squad-page .squad-container p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    text-align: justify;
    font-weight: 600;
    padding-top: 20px;
  }
  .squad-page .squad-container h6 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 40px;
  }
  .squad-page .circle-buttons {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(227, 227, 227);
    justify-content: center;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
  }
  .squad-page .circle-buttons .circle-button-1 {
    width: 300px;
    height: 300px;
  }
  .squad-page .circle-buttons .circle-button-1 .team-img {
    width: 300px;
  }
  .squad-page .circle-buttons .heading-btn-1 {
    margin-top: -70px;
    font-weight: 700;
  }
  .squad-page .circle-buttons .heading-btn-2 {
    margin-top: -70px;
    font-weight: 700;
  }
  .squad-page .circle-buttons .circle-button-2 {
    width: 300px;
    height: 300px;
  }
  .squad-page .circle-buttons .circle-button-2 .partner-img {
    width: 300px;
  }
  .squad-page .circle-buttons .circle-button-3 {
    width: 300px;
    height: 300px;
  }
  .squad-page .opp-squad {
    max-width: 100%;
    align-items: center;
  }
  .squad-page .opp-squad .opp-title {
    font-size: 20px;
    font-weight: 600;
  }
  .squad-page .opp-squad .opp-elements {
    margin-top: auto;
    max-width: 100%;
    margin-left: 18px;
    margin-right: 50px;
    display: block;
    gap: 30px;
  }
  .squad-page .opp-squad .opp-elements .opp-img {
    margin-top: 50px;
    max-width: 350px;
    box-shadow: -5px -5px 10px 5px rgba(44, 44, 44, 0.5);
  }
}/*# sourceMappingURL=squad.css.map */