.about-main-container{
  img{
    max-width: 100%;
    position: relative;;
  }
.about-us {
    .section-title {
      color: white;
      position: relative;
      font-size: 60px;
      text-align: center;
      margin-top: -350px;
  
    }
    .container-about{
      position: relative;
      background-color: white;
      margin-left: 250px;
      margin-right: 250px;
      margin-top: 80px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 30px;
      .about-description{
        text-align: justify;
        font-size: 20px;
      }
    }
  
    .mission-vision {
      background-color: #ffc745;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-size: 20px;
      .mission {
        grid-column-start:1 ;
        margin-left: 80px;
        .section-subtitle {
          font-size: 35px;
          text-align: center;
          
        }
  
        .mission-description {
          font-size:20px ;
          text-align: justify;
          margin-left: 50px;
          margin-right: 50px;
    
        }
      }
  
      .vision {
        grid-column-start: 2;
        margin-right: 80px;
  
        .section-subtitle {
          font-size: 35px;
          text-align: center;
          justify-self: center;
        }
  
        .vision-description {
          text-align: justify;
          margin-left: 50px;
          font-size: 20px;
          
        
        }
      }
    }
  }
}

@media only screen and (max-width: 480px)  {
  .about-main-container{
    img{
      max-width: 100%;
    }
  .about-us {
    max-width: 100%;
    display: block;
      .section-title{
        color: white;
        position: relative;
      font-size: 30px;
      text-align: center;
      margin-top: -70px;
      
      }
      .container-about{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: auto;
        .about-description{
          margin-top: -20px;
          font-size: 17px;
        }
      }
      .mission-vision{
        max-width: 100%;
        display: block;
        .mission{
          margin-left: auto;
          .section-subtitle{
            font-size: 25px;
            text-align: center;
          }
          .mission-description{
            font-size: 18px; 
          }
        }
        .vision{
          margin-right: 50px;
          .section-subtitle{
            margin-left: 35px;
            font-size: 25px;
            text-align: center;
          }
          .vision-description{
            font-size: 18px;
          }
        }
      }
  }
  }
}
