.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../images/backgroundlight.jpg');
    background-size: cover; /* Adjust background size as needed */
    background-repeat: no-repeat;
  
    .slider {
      
      align-items: center;
      width: 100%;
      height: 665px;
      overflow: hidden;
      position: relative;
  
      .slide {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        opacity: 0;
        transform: translateX(100%);
        transition: opacity 0.30s ease-in-out, transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  
        &.active {
          opacity: 1;
          transform: translateX(0%);
        }
      }
    }
  
    .prev-button {
      border: 1px solid;
      background: none;
      padding: 5px;
      font-size: 16px;
      cursor: pointer;
      color: white;
      transition: color 0.3s ease;
    }
  
    .next-button {
      border: 1px solid;
      background: none;
      padding: 5px;
      padding-left: 25px;
      padding-right: 25px;
      font-size: 16px;
      cursor: pointer;
      color: white;
      transition: color 0.3s ease;
    }
  
    .prev-button {
      position: absolute;
      top: 92%;
      left: 20px;
      transform: translateY(-50%);
    }
  
    .next-button {
      position: absolute;
      top: 92%;
      right: 20px;
      transform: translateY(-50%);
    }

    /*Data*/
    .home-data{
      
      
      .data-about-home{
        
        position: relative;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 20px;
        .home-title{
          text-align: center;
          font-size: 30px;
          font-weight: bold;
        }
        .about-component{
          display: flex;
          flex-direction: row;
          margin-top: 40px;
          margin-left: 40px;
          margin-right: 40px;
          gap: 40px;
          .comp{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            text-align: center;
            
            img{
              width: 200px;
              height: 200px;
            }
            .comp-title{
              font-size: 20px;
              font-weight: bold;
              margin-top: 20px;
            }
            p{
              font-size: 17px;
              text-align: justify;
              margin-top: 10px;
            }
          }
        }
      }
      .who-we-are{
        padding-bottom: 40px;
        .who-title{
          text-align: center;
          font-size: 45px;
          font-weight: bold;
          margin-top: 40px;
          
        }
        .who-grid{
          
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          margin-top: 40px;
          padding-left: 200px;
          padding-right: 200px;
          
          
          .who-data{
            
            display: flex;
            align-items: center;
            text-align: center;
            border: 1px solid black;
            
            padding: 5px;
            height:200px;
            width: auto;
            
            p{
              font-weight: 600;
              font-size: 19px;
            }
            h3{
              font-weight: 700;
              font-size: 50px;
              color: #000000;
            }
          }
        }
      }
      .involved{
          padding-top: 40px;
         
        .involved-title{
          text-align: center;
          font-size: 30px;
          font-weight: bold;
          margin-top: 20px;
        }
        .involved-grid{
          
          display: grid;
          grid-template-columns: 1fr 3fr ;
          margin-top: 40px;
          padding-left: 100px;
          padding-right: 100px;
          padding-bottom: 80px;
          
          .involved-datai{
            
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            padding: 5px;
            height:150px;
            width: auto;
            
            p{
              font-weight: 500;
              font-size: 19px;
            }
            h3{
              font-weight: 700;
              font-size: 50px;
              color: #000000;
            }
          }
          .involved-data{
            
            display: flex;
            align-items: center;
            text-align: center;
            border: 1px solid black;
            padding: 5px;
            height:150px;
            width: auto;
            border-spacing: 10px;
            
            p{
              font-weight: 500;
              font-size: 19px;
            }
            h3{
              font-weight: 700;
              font-size: 50px;
              color: #000000;
            }
          }
        }
      }

    }  
  }
  @media (max-width: 480px) {
    .container-home{
      max-height: auto;
      .slider{
        height: 300px;
      }
      .prev-button {
        border: 1px solid;
        background: none;
        padding-left: 80px;
        padding-right: 80px;
        font-size: 9px;
        cursor: pointer;
        color: black;
        transition: color 0.3s ease;
      }
    
      .next-button {
        border: 1px solid;
        background: none;
        padding-left: 80px;
        padding-right: 80px;
        font-size: 9px;
        cursor: pointer;
        color: black;
        transition: color 0.3s ease;
      }
    
      .prev-button {
        position: relative;
        top: 20px;
        left: -90px;
        transform: translateY(-50%);
      }
    
      .next-button {
        position: relative;
        top: -5px;
        right: -100px;
        transform: translateY(-50%);
      }
    .home-data{
      margin-top: -10px;
      max-width: 100%;
      .data-about-home{
        .home-title{
          font-size: 23px;
        }
        .about-component{
          flex-direction: column;
          margin-top: 20px;
          margin-left: 20px;
          margin-right: 20px;
          gap: 20px;
          .comp{
            width: 100%;
            text-align: center;
            img{
              width: 100px;
              height: 100px;
            }
            .comp-title{
              font-size: 20px;
              font-weight: bold;
              margin-top: 10px;
            }
            p{
              font-size: 16px;
              text-align: justify;
              margin-top: 10px;
            }
          }
        }
      }
      .who-we-are{
        .who-title{
          font-size: 23px;
        }
        .who-grid{
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
          .who-data{
            height: 130px;
            width: auto;
            p{
              font-weight: 500;
              font-size: 16px;
            }
            h3{
              margin-left: 12%;
              font-weight: 700;
              font-size: 30px;
              color: #000000;
            }
          }
        }
      }
      .involved{
        .involved-title{
          font-size: 23px;
        }
        .involved-grid{
          display: grid;
          margin-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 20px;
          .involved-datai{
            height: 180px;
            width: auto;
            p{
              font-weight: 500;
              font-size: 16px;
            }
            h3{
              margin-left: 12%;
              font-weight: 700;
              font-size: 30px;
              color: #000000;
            }
          }
          .involved-data{
            height: 180px;
            width: auto;
            
            
            p{
              font-weight: 500;
              font-size: 16px;
              margin: 5px;
              text-align: justify;
              
            }
            h3{
              margin-left: 12%;
              font-weight: 700;
              font-size: 30px;
              color: #000000;
            }
          }
        }
      }
    }
    
    }
    
}