.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffffc0;

  .navbar-left{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .navbar-brand img {
        width: 200px;
        height: auto;
    }
  }

  .navbar-mid {
    margin-left: 250px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;

    .menu-button {
        display: none;
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        margin-right: 10px;

        span {
            display: block;
            width: 25px;
            height: 3px;
            background-color: #333;
            margin-bottom: 5px;
        }
    }

    .navbar-list {
      list-style: none;
      display: flex;

      .nav-item {
        margin-right: 10px;

        .nav-link {
          text-decoration: none;
          color: #333;

          &.active {
            font-weight: bold;
            color: red;
          }
        }
      }
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;

    .social-media-button {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        margin-right: 10px;

        a {
          text-decoration: none;

          &.linkedin img {
            width: 30px;
            height: 30px;
          }

          &.instagram img {
            width: 30px;
            height: 30px;
          }

          &.twitter img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
      .navbar-left{
        .navbar-brand img {
          margin-left: 15px;
          width: 150px;
          height: auto;
        }
      }
    .navbar-mid {
      .menu-button {
        margin-left: -70px;
        display: block;
      }

      .navbar-list {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 7%;
        right: 0;
        width: 50%;
        background-color: #f5f5f5;
        padding: 10px;
        transform:none;
        visibility: hidden;
        z-index: 1;
        visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;

        &.mobile-menu-open {
          transform:none;
          visibility: visible;
          opacity: 1;
    transition-delay: 0s;
          
        }

        .nav-item {
          margin-right: 0;

          .nav-link {
            display: block;
            padding: 10px;
            border-bottom: 1px solid #ddd;
          }

          &:last-child .nav-link {
            border-bottom: none;
          }
        }
      }
    }

    .navbar-right {
      display: none;
    }
  }
}
